:root {
    /* Colors */
    --bg-dark-900: #24272b;
    --bg-dark-500: #2f3236;
    --bg-dark-100: #4a4d52;

    --bg-light-900: #a7a7a7;
    --bg-light-500: #d1d1d1;
    --bg-light-100: #ffffff;

    --text-dark-900: #21252a;
    --text-dark-500: #393e46;
    --text-dark-100: #7b818c;

    --text-light-900: #a4a4a4;
    --text-light-500: #c7c7c7;
    --text-light-100: #ffffff;

    --clr-dark-mode-accent-900: #ffc746;
    --clr-dark-mode-accent-500: #ffd369;
    --clr-dark-mode-accent-100: #ffdc8a;

    --clr-light-mode-accent-900: #193084;
    --clr-light-mode-accent-500: #273b85;
    --clr-light-mode-accent-100: #34478b;

    --bg-light-yellow-100: #fdd46d;
    --bg-light-yellow-500: #ffc93d;
    --bg-light-yellow-900: #ffb700;

    --bg-dark-yellow-100: rgb(173, 145, 75);
    --bg-dark-yellow-500: #daab33;
    --bg-dark-yellow-900: #d39803;

    --bg-light-red-100: #ff7f7f;
    --bg-light-red-500: #ff4444;
    --bg-light-red-900: #ff0f0f;

    --bg-dark-red-100: #c15f5f;
    --bg-dark-red-500: #a12929;
    --bg-dark-red-900: #a90303;

    /* Font sizes */
    --fs-900: 3rem;
    --fs-800: 2.5rem;
    --fs-700: 2rem;
    --fs-600: 1.875rem;
    --fs-500: 1.5rem;
    --fs-400: 1.25rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    --fs-100: 0.5rem;
}
