{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "react-app",
    "react-app/jest",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "parserOptions": {
    "requireConfigFile": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-uses-react": "warn",
    "react/react-in-jsx-scope": "on",
    "no-console": "warn",
    "react/jsx-no-undef": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}