.checkbox-container {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  width: 100%;
}

.checkbox>.text {
  padding-top: 12px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-container>button {
  min-width: 175px;
}