.CookieModal__checkbox-container {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.CookieModal__checkbox {
    display: flex;
    width: 100%;
}

.CookieModal__checkbox > .text {
    padding-top: 12px;
}

.CookieModal__button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.CookieModal__button {
    min-width: 175px;
}
