@import url("../../variables.css");

.TopNav {
}

.TopNav.dark-mode {
    background-color: var(--bg-dark-900);
    color: var(--text-light-500);
}

.TopNav.light-mode {
    background-color: var(--bg-light-900);
    color: var(--text-dark-900);
}

.TopNav__search {
    width: 200px;
    height: 90%;
    border-radius: 5px;
    border: none;
}

.TopNav__search.dark-mode {
    background-color: var(--bg-dark-500);
}

.TopNav__search.light-mode {
    background-color: var(--bg-light-500);
}

.TopNav__logo {
    cursor: pointer;
}
