@import url("../../variables.css");

/* TODO: Update colors and fonts according to variables.css */
  .profile{
    width: 100%;
    padding: 15px 0;
    background-color: var(--bg-light-900);
    }
  
  .Profile-header {
      background-color: var(--bg-dark-100);
      max-width: 1384px;
      height: 60px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .icon {
      font-size: 25px;
      margin-top: 15px;
      margin-right: 15px;
      cursor: pointer;
    }
    
    .Profile-container {
      position: relative;
      background-color: var(--text-light-100);
      width: 70%;
      max-width: 1400px;
      height: fit-content;
      border-radius: 5px;
      border: 2px solid var(--bg-dark-900);
      margin: auto;
      text-align: center;
      z-index: 3;
    }
    
    .Close-button {
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      width: 40px;
      background-color: transparent;
      border: none;
      outline: none;
    }
    
    h3 {
      padding-top: 19px;
      height: 45px;
      width: 180px;
    }
    
  
  
  .infoForm{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    
    .infoInput{
      border: 0.5px solid var(--bg-dark-500);
      outline: none;
      border-radius: 8px;
      padding: 20px;
      flex:1;
    }
    
    .infoForm>div{
      display: flex;
      gap: 1rem;
      height: 2rem;
      width: 90%;
    }
    
    .infoButton{
      width: 6rem;
      height: 2rem;
      margin-bottom: 10px;
    }
  
    