.Modal__title {
  padding: 10px !important;
  width: 100%;
  height: 100px;
  text-align: center;
}

.Modal__content {
  background-color: whitesmoke;
  width: 400px;
  height: 100px;
}

.Modal__actions {
  padding: 10px;
  height: fit-content;
}