@import url("../../variables.css");

#toggle {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 65px;
    background-color: #15181f;
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#toggle:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    top: 3px;
    left: 7px;
    border-radius: 50%;
}

.dark-theme {
    background-color: #15181f;
    color: #e5e5e5;
}

.light-theme .ham {
    color: #e5e5e5;
}

.dark-theme #toggle {
    background-color: #ffffff;
}

.dark-theme #toggle:after {
    background-color: transparent;
    box-shadow: 10px 10px #15181f;
    top: -6px;
    left: 30px;
}
