@import url("../../variables.css");

.PostForm__create {
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 1px 2px #888888;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.PostForm__create.dark-mode {
    background-color: var(--bg-dark-500);
}

.PostForm__create.light-mode {
    background-color: var(--bg-light-500);
}

.PostForm__basics {
    display: flex;
    align-items: center;
    gap: 10px;
}

.PostForm__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.PostForm__empty-avatar {
    font-size: 36px;
}

.PostForm__input {
    flex: 1;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background-color: #f0f2f5;
}

.PostForm__input.dark-mode {
    color: var(--text-light-900);
    background-color: var(--bg-dark-100);
}

.PostForm__input.dark-mode::placeholder {
    color: var(--text-light-100);
}

.PostForm__input.light-mode::placeholder {
    color: var(--text-dark-100);
}

.PostForm__submit {
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
}

.PostForm__submit.dark-mode {
    color: var(--clr-dark-mode-accent-500);
}

.PostForm__submit.light-mode {
    color: var(--clr-light-mode-accent-500);
}
