@import url("../../variables.css");

.Friends {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    min-width: 70%;
    max-width: 1400px;
    min-height: 700px;
}

.Friends.light-mode {
    background-color: var(--bg-light-100);
    color: var(--text-dark-500);
}

.Friends.dark-mode {
    background-color: var(--bg-dark-100);
    color: var(--text-light-500);
}

.Friends__header {
    max-width: 1384px;
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Friends__header.dark-mode {
    background-color: var(--bg-dark-900);
    color: var(--clr-dark-mode-accent-500);
}

.Friends__header.light-mode {
    background-color: var(--bg-light-900);
    color: var(--clr-light-mode-accent-500);
}

.icon {
    font-size: 25px;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.Close-button {
    height: 40px;
    width: 60px;
    background-color: blue;
}

h1 {
    float: left;
    padding-top: 19px;
    height: 45px;
    width: 250px;
}

h2 {
    float: left;
    padding-top: 19px;
    height: 45px;
    width: 250px;
}

h3 {
    float: left;
    padding-top: 19px;
    height: 45px;
    width: 250px;
}

h4 {
    float: left;
    padding-top: 19px;
    height: 45px;
    width: 250px;
}

table {
    margin-top: 15px;
}
