@import url("../../variables.css");

/* TODO: Update colors and fonts according to variables.css */

.AdminDashboard__header {
    background-color: #555;
    max-width: 1384px;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1.5px black;
}

.AdminDashboard__container {
    background-color: beige;
    width: 100%;
    height: 700px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2.5px solid black;
    margin-top: 2px;
}

.Close-button {
    height: 40px;
    width: 60px;
    background-color: blue;
}

h3 {
    padding-top: 19px;
    height: 45px;
    width: 180px;
}

.AdminDashboard__content {
    justify-content: flex-start;
    align-items: flex-start;
}

.AdminDashboard__button {
    align-items: flex-start;
}
