.Dashboard-header {
	background-color: #555;
	max-width: 1384px;
	height: 60px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1.5px black;
}

.Dashboard-container {
	background-color: beige;
	margin-left: 250px;
	width: 1384px;
	height: 700px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 2.5px solid black;
	margin-top: 2px;
}

.Close-button {
	height: 40px;
	width: 60px;
	background-color: blue;
}

h1 {
	float: left;
	padding-top: 19px;
	height: 45px;
	width: 250px;
}

h2 {
	float: left;
	padding-top: 19px;
	height: 45px;
	width: 250px;
}

h3 {
	float: left;
	padding-top: 19px;
	height: 45px;
	width: 250px;
}

h4 {
	float: left;
	padding-top: 19px;
	height: 45px;
	width: 250px;
}

table {
	margin-top: 15px;
}