@import url("../variables.css");

/* TODO: Update colors according to variables.css variables */
.Modal {
	border-radius: 15%;
}

.Modal-content {
	background-color: #555
}

.Modal-header {
	background-color: #555;
}

.Modal-title {
	background-color: #555
}

.Modal-body {
	background-color: #555
}