.Post-header {
    background-color: #555;
    max-width: 1384px;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1.5px black;
}

.Post-container {
    background-color: beige;
    width: 100%;
    height: 700px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2.5px solid black;
    margin-top: 2px;
}

.Close-button {
    height: 40px;
    width: 60px;
    background-color: blue;
}

h3 {
    padding-top: 19px;
    height: 45px;
    width: 180px;
}

.Post-create {
    margin: 10px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.Post-create.dark-mode {
    background-color: #8C8C8C;
}

.Post-create.light-mode {
    background-color: #e9e9e9;
}

.Post-basics {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Post-avatar {
    margin: auto;
    height: 100%;
}

.Post-avatar button {
    font-size: 36px;
    padding: 0;
    line-height: 100%;
}

.Post-empty-avatar {
    padding: 0;
    margin: 0;
    margin-block: auto;
    font-size: 36px;
    line-height: 100%;
}

.Post-text {
    margin: 0;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    flex: 1;
}

.Post-text.dark-mode::placeholder {
    color: #a4a4a4;
}

.Post-text.dark-mode {
    color: #a4a4a4;
    background-color: #555;
}

.Post-text.light-mode::placeholder {
    color: #363537;
}

.Post-text.light-mode {
    color: #363537;
    background-color: #FFF;
}

.Post-submit {
    margin: 0;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
}

.Post-submit.dark-mode {
    color:#FFD369;
}

.Post-submit.light-mode {
    color:#555555;
}

.Post-uploads {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}

.Post-uploads button {
    padding: 0;
}

.Post-icon-label {
    margin-left: 10px;
    font-size: 14px;
}

.Post-icon-label.dark-mode {
    background-color: transparent;
    color: aliceblue;
}

.Post-icon-label.light-mode {
    background-color: transparent;
    color: #555;
}


