.Settings-header {
	max-width: 1384px;
	height: 60px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1.5px black;
}
.dark-mode-header{
 background-color: #333;
}
.light-mode-header{
 background-color: rgb(201, 199, 199);
}
.dark-mode{
background-color: beige;
}
.light-mode{
	background-color: rgb(201, 199, 199);
	background-color: #ffffff;
}
.Settings-container {
	
	margin-left: 250px;
	width: 1384px;
	height: 700px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 2.5px solid black;
	margin-top: 2px;
}

.Close-button {
	height: 40px;
	width: 60px;
	background-color: blue;
}

h3 {
	padding-top: 19px;
	height: 45px;
	width: 180px;
}