:root {
    --header-bg-dark-mode: #393E46;
    --header-bg-light-mode: #c9c7c7;
    --section-bg-dark-mode: #EEEEEE;
    --section-bg-light-mode: #FFFFFF;
    --text-dark: #393E46;
    --clr-accent-dark-mode: #FFD369;
}

.Settings-header {
    max-width: 1384px;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1.5px black;
}

.Settings-tab-groups-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Settings-tab-group-header {
    text-align: left;
    height: 100%;
    padding-block: 10px;
}

.Settings-tab-group-tabs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 100px;
}

/* Font size for mui switch labels */
.Settings-switch-wrapper span {
    font-size: 12px;
}

.dark-mode-header {
    background-color: var(--header-bg-dark);
    color: var(--clr-accent-dark-mode);
}

.light-mode-header {
    background-color: var(--header-bg-light-mode);
}

.dark-mode {
    background-color: var(--section-bg-dark-mode);
    color: var(--text-dark);
}

.light-mode {
    background-color: var(--section-bg-light-mode);
}

.Close-button {
    height: 40px;
    width: 60px;
    background-color: blue;
}

h3 {
    padding-top: 19px;
    height: 45px;
    width: 180px;
}