:root {
    --bg-dark-mode: #393E46;
    --bg-light-mode: #c9c7c7;
    --text-dark: #393E46;
    --text-light: #c3c1c1;
    --clr-accent-dark-mode: #FFD369;
    --clr-accent-light-mode: #30489f;

    --input-bg-dark-mode: #484d55;
    --input-bg-light-mode: #c0bbbb;
}

.Top-nav {
    
}

.Top-nav.dark-mode {
    background-color: var(--bg-dark-mode);
    color: var(--text-light);
}

.Top-nav.light-mode {
    background-color: var(--bg-light-mode);
    color: var(--text-dark);
}

.Top-nav-search {
    width: 200px;
    height: 90%;
    border-radius: 5px;
    border: none;
}

.MuiInputBase-root.MuiInput-root {

}

.Top-nav-search.dark-mode {
    background-color: var(--input-bg-dark-mode);
}

.Top-nav-search.light-mode {
    background-color: var(--input-bg-light-mode);
}